{%extends 'LICapp1/base.html'%}
{%block first%}
<h1><b>THIS IS MY FIRST PROJECT</b></h1>
<h2><i><center> DATA FORM </i></h2></center>
<form action="" method="POST" >
    {%csrf_token%} 
    {{form.as_p}}
    
    <button type="submit"   class="btn btn-primary">Add</button>
    <button type="submit"   class="btn btn-primary">Edit</button>
    <button type="submit"   class="btn btn-primary">View</button>
    <button type="submit"   class="btn btn-primary">Save</button>
    <button type="submit"   class="btn btn-primary">Quit</button>

</form>
<a href="{%url 'Open1pg'%}">Open 1st Page</a>

{{Var_pr.name}}
{%endblock first%}    